@CHARSET "ISO-8859-1";

@import
	url(http://fonts.googleapis.com/css?family=Raleway:400,300,100,500,700,800,900)
	;

@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

@import
	url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css)
	;

.title-box {
	margin: 0 0 30px;
}

.title-box .title-box_primary {
	font: 600 50px/1.0em 'Raleway', sans-serif;
	text-transform: none;
	color: #23ba85;
	text-align: left;
	margin: 0 0 30px;
	font-weight: normal;
	text-align: center;
}

div.home {
	margin: auto;
	width: 825px;
	height: 50px;
	background-color: #eee;
	border: 1px solid;
	border-color: rgb(223, 222, 222);
	border-radius: 3px 3px 0px 0px;
	margin-bottom: 20px;
	font-size: 20px;
	font-family: Lato, sans-serif;
	padding-top: 20px;
}

.homePage {
	padding: 10px;
	width: 100%;
	text-decoration: none;
	padding-left: 10px;
	color: black;
}

/* PROJECTS */

.projects-list{
	font-family: Lato, sans-serif;
	border-collapse: collapse;
	margin: auto;
	width: 80%;
	border: 1px solid rgb(223, 222, 222);
}

.projects-list thead{
	font-weight: bold;
	background-color: #eee;
}

.projects-list thead td{
	border: 1px solid rgb(223, 222, 222);
}

.delete-image img{
	height:20px; 
	width:20px;
	opacity:0.4;
}

a.delete-image:hover img{
	opacity:0.7;
}

.update-link{
	color: black;
}

/* CREATE */
div.content-add {
	margin: auto;
	width: 513px;
	border: 1px solid;
	border-color: rgb(223, 222, 222);
	border-radius: 3px 3px 0px 0px;
	margin-bottom: 20px;
	font-family: Lato, sans-serif;
}

.add-new {
	background-color: #eee;
	padding: 25px;
}

.add-new div{
	margin-bottom: 10px;
}

.add-new div span:first-child{
	width: 135px;
	display: inline-block;
	font-weight: bold;
}

.add-new select{
	padding: 10px;
	margin-right: 10px;
	border-radius: 3px;
	font-size: 15px;
	vertical-align: middle;
}

.required-indicator{
	width: 6px;
	display: inline-block;
}

.project-add-content{
	text-align: center;
}
.project-add{
	vertical-align:middle;
    width:100px;
    height:41px;
    padding:0px;
    border:1px solid #5b5b5b;
    background-color:#5b5b5b;
    color: white;
    font-weight:bold;
    border-radius:3px;
    font:15px FontAwesome, sans-serif;	
}

.project-input {
	width: 260px;
	height: 20px;
	padding: 10px;
	margin-right: 10px;
	border-radius: 3px;
	font-size: 15px;
	font-family: Raleway, sans-serif;
	vertical-align: middle;
}

.errors {
	border-color: rgb(255, 0, 0);
}
